$this: 'profile';

section {
  &.component.is-#{$this} {
    background: #fff;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .#{$this}--wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
    }
    .#{$this}--avatar {
      margin: -4rem 0 0 0;
      img {
        display: block;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
      }
    }
  }
}
