$this: 'profile-banner';

section {
  &.component.is-#{$this} {
    background: #fff;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    img {
      display: block;
      border-radius: 0.5rem;
      width: 100%;
      height: auto;
    }
  }
}
