$this: 'embeds';

section {
  &.component.is-#{$this} {
    background: #fff;
    color: #000;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .#{$this}--columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      &__item {
        width: 33.33%;
        padding: 1rem;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
